<a href="https://colab.research.google.com/github/josephinesantander/dataframe-exercise/blob/main/Technical2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#1. Create a DataFrame
  # Create the DataFrame using the given sales dataset.
  # Print the first 5 rows.

import pandas as pd

# Sample sales dataset (20 rows)
data = {
    "OrderID": range(1001, 1021),
    "Product": [
        "Laptop", "Mouse", "Keyboard", "Monitor", "Laptop",
        "Headphones", "Mouse", "Chair", "Desk", "Laptop",
        "Printer", "Keyboard", "Monitor", "Mouse", "Laptop",
        "Headphones", "Desk", "Monitor", "Printer", "Chair"
    ],
    "Category": [
        "Electronics", "Accessories", "Accessories", "Electronics", "Electronics",
        "Accessories", "Accessories", "Furniture", "Furniture", "Electronics",
        "Electronics", "Accessories", "Electronics", "Accessories", "Electronics",
        "Accessories", "Furniture", "Electronics", "Electronics", "Furniture"
    ],
    "Quantity": [2, 5, 3, 4, 1, 6, 10, 2, 1, 3, 2, 4, 2, 7, 5, 3, 2, 4, 1, 6],
    "Price": [800, 20, 50, 200, 850, 40, 25, 150, 300, 900, 120, 55, 250, 20, 750, 35, 280, 220, 110, 180],
    "Customer": [
        "Alice", "Bob", "Charlie", "Diana", "Ethan",
        "Fiona", "George", "Hannah", "Ian", "Jane",
        "Kyle", "Laura", "Mike", "Nina", "Oscar",
        "Paul", "Queen", "Robert", "Sarah", "Tom"
    ],
    "Region": [
        "North", "South", "East", "West", "North",
        "South", "East", "West", "North", "South",
        "East", "West", "North", "South", "East",
        "West", "North", "South", "East", "West"
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute Total column
df["Total"] = df["Quantity"] * df["Price"]

# Print the first 5 rows
print(df.head())

   OrderID   Product     Category  Quantity  Price Customer Region  Total
0     1001    Laptop  Electronics         2    800    Alice  North   1600
1     1002     Mouse  Accessories         5     20      Bob  South    100
2     1003  Keyboard  Accessories         3     50  Charlie   East    150
3     1004   Monitor  Electronics         4    200    Diana   West    800
4     1005    Laptop  Electronics         1    850    Ethan  North    850

In [66]:
#1.1. Print the number of rows and columnns

print("Number of rows and columns:", df.shape)

Number of rows and columns: (40, 8)

In [67]:
#1.2. Show the column name

print("Column names:", df.columns.tolist())

Column names: ['OrderID', 'Product', 'Category', 'Quantity', 'Price', 'Customer', 'Region', 'Total']

In [11]:
#2. Adding a Column

df = pd.DataFrame(data)

# Step 2: Compute Total column
df["Total"] = df["Quantity"] * df["Price"]

# Step 3: Add Discount column (10% if Quantity >= 5 else 0)
df["Discount"] = df.apply(lambda row: row["Total"] * 0.10 if row["Quantity"] >= 5 else 0, axis=1)

# Step 4: Add FinalTotal column (Total - Discount)
df["FinalTotal"] = df["Total"] - df["Discount"]

# Step 5: Show selected columns
print(df[["OrderID", "Product", "Total", "Discount", "FinalTotal"]].head())

   OrderID   Product  Total  Discount  FinalTotal
0     1001    Laptop   1600       0.0      1600.0
1     1002     Mouse    100      10.0        90.0
2     1003  Keyboard    150       0.0       150.0
3     1004   Monitor    800       0.0       800.0
4     1005    Laptop    850       0.0       850.0

In [69]:
#2.1. Add a "Discount" column where orders with Quantity >= 5 get a 10% discount, otherwise 0%

df = pd.DataFrame(data)

# Step 2: Compute Total column
df["Total"] = df["Quantity"] * df["Price"]

# Step 3: Add Discount column (10% if Quantity >= 5 else 0)
df["Discount"] = df["Total"] * (df["Quantity"] >= 5) * 0.10

# Step 4: Show selected columns (without FinalTotal)
print(df[["OrderID", "Product", "Total", "Discount"]].head())

   OrderID   Product  Total  Discount
0     1001    Laptop   1600       0.0
1     1002     Mouse    100      10.0
2     1003  Keyboard    150       0.0
3     1004   Monitor    800       0.0
4     1005    Laptop    850       0.0

In [20]:
#2.2. Add a "FinalTotal" column computed as Total - (Total * Discount)

df = pd.DataFrame(data)

# Step 2: Compute Total column
df["Total"] = df["Quantity"] * df["Price"]

# Step 3: Add Discount column as a rate (10% if Quantity >= 5, else 0%)
df["Discount"] = (df["Quantity"] >= 5) * 0.10

# Step 4: Compute FinalTotal using the discount rate
df["FinalTotal"] = df["Total"] - (df["Total"] * df["Discount"])

# Step 5: Show selected columns
print(df[["OrderID", "Product", "Quantity", "Total", "Discount", "FinalTotal"]].head())

   OrderID   Product  Quantity  Total  Discount  FinalTotal
0     1001    Laptop         2   1600       0.0      1600.0
1     1002     Mouse         5    100       0.1        90.0
2     1003  Keyboard         3    150       0.0       150.0
3     1004   Monitor         4    800       0.0       800.0
4     1005    Laptop         1    850       0.0       850.0

In [23]:
#2.3. Print only the OrderID, Product, Total, Discount, and FinalTotal columns

print(df[["OrderID", "Product", "Total", "Discount", "FinalTotal"]].head())

   OrderID   Product  Total  Discount  FinalTotal
0     1001    Laptop   1600       0.0      1600.0
1     1002     Mouse    100       0.1        90.0
2     1003  Keyboard    150       0.0       150.0
3     1004   Monitor    800       0.0       800.0
4     1005    Laptop    850       0.0       850.0

In [29]:
#3. Adding a Row

df = pd.DataFrame(data)

# Step 2: Compute Total column
df["Total"] = df["Quantity"] * df["Price"]

# Step 3: Create new record
new_row = {
    "OrderID": 1021,
    "Product": "Tablet",
    "Category": "Electronics",
    "Quantity": 2,
    "Price": 450,
    "Customer": "Victor",
    "Region": "East"
}

# Step 4: Append to DataFrame
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

# Step 5: Recalculate Total
df["Total"] = df["Quantity"] * df["Price"]

# Step 6: Show last 3 rows
print(df.tail(3))

    OrderID  Product     Category  Quantity  Price Customer Region  Total
18     1019  Printer  Electronics         1    110    Sarah   East    110
19     1020    Chair    Furniture         6    180      Tom   West   1080
20     1021   Tablet  Electronics         2    450   Victor   East    900

In [46]:
#3.1. Add a new sales record: OrderID=1021, Product="Tablet", Category="Electronics", Quantity=2, Price=450, Customer="Victor", Region="East"

# Step 1: Create new record
new_row = {
    "OrderID": 1021,
    "Product": "Tablet",
    "Category": "Electronics",
    "Quantity": 2,
    "Price": 450,
    "Customer": "Victor",
    "Region": "East"
}

# Step 2: Append to DataFrame
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

# Step 3: Recalculate Total, Discount, and FinalTotal
df["Total"] = df["Quantity"] * df["Price"]
df["Discount"] = df["Total"] * (df["Quantity"] >= 5) * 0.10
df["FinalTotal"] = df["Total"] - df["Discount"]

# Step 4: Show last 3 rows
print(df[["OrderID", "Product", "Category", "Quantity", "Price", "Customer", "Region"]].tail(3))

    OrderID Product     Category  Quantity  Price Customer Region
29     1021  Tablet  Electronics         2    450   Victor   East
30     1021  Tablet  Electronics         2    450   Victor   East
31     1021  Tablet  Electronics         2    450   Victor   East

In [50]:
#3.2. Recalculate the "Total" column for the new row

# Step 1: Create new record
new_row = {
    "OrderID": 1021,
    "Product": "Tablet",
    "Category": "Electronics",
    "Quantity": 2,
    "Price": 450,
    "Customer": "Victor",
    "Region": "East"
}

# Step 2: Append to DataFrame
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

# Step 3: Recalculate Total, Discount, and FinalTotal
df["Total"] = df["Quantity"] * df["Price"]
df["Discount"] = df["Total"] * (df["Quantity"] >= 5) * 0.10
df["FinalTotal"] = df["Total"] - df["Discount"]

# Step 4: Show last 3 rows
print(df[["OrderID", "Product", "Category", "Quantity", "Price", "Customer", "Region", "Total"]].tail(3))

# Recalculate "Total" for the new row only
df.at[df.index[-1], "Total"] = df.at[df.index[-1], "Quantity"] * df.at[df.index[-1], "Price"]

    OrderID Product     Category  Quantity  Price Customer Region  Total
33     1021  Tablet  Electronics         2    450   Victor   East    900
34     1021  Tablet  Electronics         2    450   Victor   East    900
35     1021  Tablet  Electronics         2    450   Victor   East    900

In [54]:
#3.3. Verify the new row is added by printing the last 3 rows.

# Step 1: Create new record
new_row = {
    "OrderID": 1021,
    "Product": "Tablet",
    "Category": "Electronics",
    "Quantity": 2,
    "Price": 450,
    "Customer": "Victor",
    "Region": "East"
}

# Step 2: Append to DataFrame
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

# Step 3: Recalculate Total, Discount, and FinalTotal for all rows
df["Total"] = df["Quantity"] * df["Price"]
df["Discount"] = df["Total"] * (df["Quantity"] >= 5) * 0.10
df["FinalTotal"] = df["Total"] - df["Discount"]

# Step 4: Show last 3 rows to verify new entry
print(df[["OrderID", "Product", "Category", "Quantity", "Price", "Customer", "Region", "Total"]].tail(3).to_string(index=False))

# Step 5: Recalculate "Total" for the new row only (redundant but explicit)
df.at[df.index[-1], "Total"] = df.at[df.index[-1], "Quantity"] * df.at[df.index[-1], "Price"]

 OrderID Product    Category  Quantity  Price Customer Region  Total
    1021  Tablet Electronics         2    450   Victor   East    900
    1021  Tablet Electronics         2    450   Victor   East    900
    1021  Tablet Electronics         2    450   Victor   East    900

In [55]:
#4. Modifying Column Values

#4.1. Change the "Price" of all "Mouse" products to 30

# Step 1: Update price of Mouse products
df.loc[df["Product"] == "Mouse", "Price"] = 30  # ← new price assigned

# Step 2: Recalculate Total for affected rows
df["Total"] = df["Quantity"] * df["Price"]

# Step 3: Show only Mouse rows
print(df[df["Product"] == "Mouse"][["OrderID", "Product", "Quantity", "Price", "Total"]].to_string(index=False))

 OrderID Product  Quantity  Price  Total
    1002   Mouse         5     30    150
    1007   Mouse        10     30    300
    1014   Mouse         7     30    210

In [62]:
#4.2. Recalculate "Total" for the affected rows

# Step 1: Update price of Mouse products
df.loc[df["Product"] == "Mouse", "Price"] = 30  # ← new price assigned

# Step 2: Recalculate "Total" only for Mouse rows
df.loc[df["Product"] == "Mouse", "Total"] = df.loc[df["Product"] == "Mouse", "Quantity"] * df.loc[df["Product"] == "Mouse", "Price"]

# Step 3: Show updated Mouse rows with clean formatting
print(df[df["Product"] == "Mouse"][["OrderID", "Product", "Quantity", "Price", "Total"]].to_string(index=False))

 OrderID Product  Quantity  Price  Total
    1002   Mouse         5     30    150
    1007   Mouse        10     30    300
    1014   Mouse         7     30    210

In [60]:
#4.3. Print only the rows where "Product"="Mouse" to confirm the update

# Step 1: Update price of Mouse products
df.loc[df["Product"] == "Mouse", "Price"] = 30  # New price assigned

# Step 2: Recalculate "Total" only for Mouse rows
df.loc[df["Product"] == "Mouse", "Total"] = df.loc[df["Product"] == "Mouse", "Quantity"] * df.loc[df["Product"] == "Mouse", "Price"]

# Step 3: Print only Mouse rows to confirm the update
print(df[df["Product"] == "Mouse"][["OrderID", "Product", "Quantity", "Price", "Total"]].to_string(index=False))

 OrderID Product  Quantity  Price  Total
    1002   Mouse         5     30    150
    1007   Mouse        10     30    300
    1014   Mouse         7     30    210

In [115]:
#5. Deleting a Column

df["Discount"] = df["Quantity"].apply(lambda q: 0.10 if q >= 5 else 0)
df["FinalTotal"] = df["Total"] - (df["Total"] * df["Discount"])

print(df[["OrderID", "Product", "Total", "Discount", "FinalTotal"]].head())

   OrderID   Product  Total  Discount  FinalTotal
0     1001    Laptop   1600       0.0      1600.0
1     1002     Mouse    100       0.1        90.0
2     1003  Keyboard    150       0.0       150.0
3     1004   Monitor    800       0.0       800.0
4     1005    Laptop    850       0.0       850.0

In [114]:
#5.1. Delete the "Discount" column

df["Discount"] = df["Quantity"].apply(lambda q: 0.10 if q >= 5 else 0)
df["FinalTotal"] = df["Total"] - (df["Total"] * df["Discount"])

# Delete only the "Discount" column
df = df.drop(columns=["Discount"])

print(df[["OrderID", "Product", "Total", "FinalTotal"]].head())

   OrderID   Product  Total  FinalTotal
0     1001    Laptop   1600      1600.0
1     1002     Mouse    100        90.0
2     1003  Keyboard    150       150.0
3     1004   Monitor    800       800.0
4     1005    Laptop    850       850.0

In [116]:
#5.2 Delete the "FinalTotal" column

df["Discount"] = df["Quantity"].apply(lambda q: 0.10 if q >= 5 else 0)
df["FinalTotal"] = df["Total"] - (df["Total"] * df["Discount"])

# Delete only the "Discount" column
df = df.drop(columns=["FinalTotal"])

print(df[["OrderID", "Product", "Total"]].head())

   OrderID   Product  Total
0     1001    Laptop   1600
1     1002     Mouse    100
2     1003  Keyboard    150
3     1004   Monitor    800
4     1005    Laptop    850

In [120]:
#5.3. Print the updated DataFrame with only the remaining columns.

df["Discount"] = df["Quantity"].apply(lambda q: 0.10 if q >= 5 else 0)
df["FinalTotal"] = df["Total"] - (df["Total"] * df["Discount"])

# Delete both columns
df = df.drop(columns=["Discount"])
df = df.drop(columns=["FinalTotal"])

# Print the updated DataFrame
print(df.head())

   OrderID   Product     Category  Quantity  Price Customer Region  Total
0     1001    Laptop  Electronics         2    800    Alice  North   1600
1     1002     Mouse  Accessories         5     20      Bob  South    100
2     1003  Keyboard  Accessories         3     50  Charlie   East    150
3     1004   Monitor  Electronics         4    200    Diana   West    800
4     1005    Laptop  Electronics         1    850    Ethan  North    850

In [125]:
#6. Deleting a Row

#6.1. Drop row with OrderID = 1010

df = df.drop(df[df["OrderID"] == 1010].index, axis=0)

print(df.head())

   OrderID     Product     Category  Quantity  Price Customer Region  Total
1     1002       Mouse  Accessories         5     20      Bob  South    100
2     1003    Keyboard  Accessories         3     50  Charlie   East    150
3     1004     Monitor  Electronics         4    200    Diana   West    800
4     1005      Laptop  Electronics         1    850    Ethan  North    850
5     1006  Headphones  Accessories         6     40    Fiona  South    240

In [128]:
# 6.2 Delete the first row by index
df = df.drop(df.index[0])

print(df.head())

   OrderID     Product     Category  Quantity  Price Customer Region  Total
3     1004     Monitor  Electronics         4    200    Diana   West    800
4     1005      Laptop  Electronics         1    850    Ethan  North    850
5     1006  Headphones  Accessories         6     40    Fiona  South    240
6     1007       Mouse  Accessories        10     25   George   East    250
7     1008       Chair    Furniture         2    150   Hannah   West    300

In [129]:
# 6.3. Print the new DataFrame shape (rows x columns)
print("\nNew shape:", df.shape)

New shape: (16, 8)

In [131]:
# 7. Searching with Conditions

# 7.1 Find all rows where "Category"="Electronics" AND "Quantity">=3

result1 = df[(df["Category"] == "Electronics") & (df["Quantity"] >= 3)]
print(result1, "\n")

    OrderID  Product     Category  Quantity  Price Customer Region  Total
3      1004  Monitor  Electronics         4    200    Diana   West    800
14     1015   Laptop  Electronics         5    750    Oscar   East   3750
17     1018  Monitor  Electronics         4    220   Robert  South    880

In [133]:
# 7.2 Find all rows where "Price">500.

result2 = df[df["Price"] > 500]
print(result2, "\n")

    OrderID Product     Category  Quantity  Price Customer Region  Total
4      1005  Laptop  Electronics         1    850    Ethan  North    850
14     1015  Laptop  Electronics         5    750    Oscar   East   3750

In [135]:
# 7.3 Count how many orders came from the "North" region.

count_north = df[df["Region"] == "North"].shape[0]
print(count_north)

4

In [137]:
# 8. Filtering Specific Values

# 8.1 Display all sales from the "West" region

west_sales = df[df["Region"] == "West"]
print(west_sales, "\n")

    OrderID     Product     Category  Quantity  Price Customer Region  Total
3      1004     Monitor  Electronics         4    200    Diana   West    800
7      1008       Chair    Furniture         2    150   Hannah   West    300
11     1012    Keyboard  Accessories         4     55    Laura   West    220
15     1016  Headphones  Accessories         3     35     Paul   West    105
19     1020       Chair    Furniture         6    180      Tom   West   1080

In [140]:
# 8.2 Display all sales made by the customer "Alice".

alice_sales = df[df["Customer"] == "Alice"]
print(alice_sales if not alice_sales.empty else "No sales found for Alice.\n")

8.2 Sales by Alice:

No sales found for Alice.

In [142]:
# 8.3	Display all sales where "Product" IN ["Laptop", "Printer"].Sales of Laptop or Printer

subset_sales = df[df["Product"].isin(["Laptop", "Printer"])]
print(subset_sales, "\n")

    OrderID  Product     Category  Quantity  Price Customer Region  Total
4      1005   Laptop  Electronics         1    850    Ethan  North    850
10     1011  Printer  Electronics         2    120     Kyle   East    240
14     1015   Laptop  Electronics         5    750    Oscar   East   3750
18     1019  Printer  Electronics         1    110    Sarah   East    110

In [157]:
# 9. Updating Values Based on Condition

print(df[df["Category"] == "Furniture"][["OrderID", "Product", "Quantity", "Price", "Total"]])

    OrderID Product  Quantity        Price        Total
7      1008   Chair         2   517.840682  1035.681364
8      1009    Desk         1  1035.681364  1035.681364
16     1017    Desk         2   966.635940  1933.271880
19     1020   Chair         6   621.408819  3728.452912

In [161]:
#9.1.	Increase "Price" of all "Furniture" products by 10%

df.loc[df["Category"] == "Furniture", "Price"] *= 1.10

print(df[df["Category"] == "Furniture"][["OrderID", "Product", "Price"]])

    OrderID Product      Price
7      1008   Chair   758.1618
8      1009    Desk  1516.3478
16     1017    Desk  1415.2523
19     1020   Chair   909.7990

In [163]:
#9.2. Recalculate the "Total" for those updated rows

df["Total"] = df["Quantity"] * df["Price"]

print(df[df["Category"] == "Furniture"][["OrderID", "Product", "Quantity", "Price", "Total"]])

    OrderID Product  Quantity      Price      Total
7      1008   Chair         2   758.1618  1516.3236
8      1009    Desk         1  1516.3478  1516.3478
16     1017    Desk         2  1415.2523  2830.5046
19     1020   Chair         6   909.7990  5458.7940

In [165]:
#9.3. Show only the updated "Furniture" rows to confirm changes.

print(df[df["Category"] == "Furniture"])

    OrderID Product   Category  Quantity      Price Customer Region      Total
7      1008   Chair  Furniture         2   758.1618   Hannah   West  1516.3236
8      1009    Desk  Furniture         1  1516.3478      Ian  North  1516.3478
16     1017    Desk  Furniture         2  1415.2523    Queen  North  2830.5046
19     1020   Chair  Furniture         6   909.7990      Tom   West  5458.7940

In [167]:
#10. Sorting the DataFrame

#10.1. Sort the DataFrame by "Total" in descending order.

sorted_df = df.sort_values(by="Total", ascending=False)
print(sorted_df.head(), "\n")

    OrderID Product     Category  Quantity      Price Customer Region  \
19     1020   Chair    Furniture         6   909.7990      Tom   West
14     1015  Laptop  Electronics         5   750.0000    Oscar   East
16     1017    Desk    Furniture         2  1415.2523    Queen  North
8      1009    Desk    Furniture         1  1516.3478      Ian  North
7      1008   Chair    Furniture         2   758.1618   Hannah   West

        Total
19  5458.7940
14  3750.0000
16  2830.5046
8   1516.3478
7   1516.3236

In [169]:
#10.2. Display the top 5 sales orders

print(sorted_df.head(5), "\n")

    OrderID Product     Category  Quantity      Price Customer Region  \
19     1020   Chair    Furniture         6   909.7990      Tom   West
14     1015  Laptop  Electronics         5   750.0000    Oscar   East
16     1017    Desk    Furniture         2  1415.2523    Queen  North
8      1009    Desk    Furniture         1  1516.3478      Ian  North
7      1008   Chair    Furniture         2   758.1618   Hannah   West

        Total
19  5458.7940
14  3750.0000
16  2830.5046
8   1516.3478
7   1516.3236

In [171]:
#10.3. Sort the DataFrame by "Region" and then by "Customer" (multi-level sort)

multi_sort = df.sort_values(by=["Region", "Customer"])
print(multi_sort.head())

    OrderID  Product     Category  Quantity  Price Customer Region   Total
6      1007    Mouse  Accessories        10   25.0   George   East   250.0
10     1011  Printer  Electronics         2  120.0     Kyle   East   240.0
14     1015   Laptop  Electronics         5  750.0    Oscar   East  3750.0
18     1019  Printer  Electronics         1  110.0    Sarah   East   110.0
4      1005   Laptop  Electronics         1  850.0    Ethan  North   850.0